body {
    text-align: center;
    font-family: 'gugi', cursive;
    background: linear-gradient(to right, #EC082AFF, #ec4508);
}

div {
    border: 2px dashed #1f1bff;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 15%;
    box-shadow: 10px 12px #333899;
}

#imagen {
    width: 50px;
    float: left;
    border-radius: 50%;
}

div.especial h3 {
    font-family: "Poppins", sans-serif;
    text-shadow: 10px 5px #999;
}